@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #84E1AD;
}

header {
    background-image: linear-gradient(#3CD983, #195734);
    height: 200px;
    color: rgb(252, 252, 252);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.514);
}

header > h1 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-weight: normal;
    padding: 30px 0px;
}

header > p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: rgb(204, 204, 204);
}

nav {
    padding: 40px 18px;
}

nav > a {
    color: rgb(252, 252, 252);
    font-weight: bold;
    padding-right: 20px;
    text-decoration: none;
}

main {
    background-color: white;
    max-width: 965px;
    min-width: min-content;
    margin: auto;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.514);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#section1 {
    padding: 30px 20px 0px 20px;
}

#section1 > h1, h2 {
    color: #1B5C39;
    font-family: 'Android', sans-serif;
}

#section1 > h2 {
    background-image: linear-gradient(90deg, #C6EBD6, white);
    padding-left: 5px;
}

#section1 > p {
    text-indent: 22px;
    padding: 20px 0px 20px 0px;
    line-height: 135%;
    text-align: justify;
}

.destaque {
    font-weight: 800;
    color: #1b8d50;
}

.link {
    font-weight: 800;
    color: #1b8d50;
    text-decoration: none;
}

.link::after {
    content: ' \1F517';
}

.link:hover {
    color: #84E1AD;
}

.link:active {
    color: black;
}

img {
    display: block;
    margin: auto;
}

#video {
    background-color: #195734;
    margin: 0px -20px 0px -20px;
    padding: 20px;
    padding-bottom: 56.4%;
    position: relative;
}

#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#learn_more {
    background-color: #C5EBD6;
    border-radius: 15px;
    max-width: 930px;
    min-width: none;
    margin-top: 15px;
    margin-left: 17px;
    margin-right: 17px;
    padding-bottom: 15px;
}

#learn_more > h1 {
    color: white;
    background-color: #2FA866;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    font-size: 16px;
}

#learn_more > p {
    line-height: 150%;
    padding-top: 15px;
    text-indent: 23px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

#learn_more > ul {
    padding-top: 15px;
}

#learn_more > ul > li::before {
    content: '✔ ';
}

#section2 > p {
    text-indent: 22px;
    padding: 20px 20px 30px 20px;
    line-height: 135%;
    text-align: justify;
}

footer {
    background-color: #1A5C38;
    margin-top: 20px;
}

footer > p {
    color: white;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

footer > p > span {
    font-weight: bold;
}